# Leslie env config for kwaipilot backend
# Copy to leslie.kwaipilot.env and run: leslie run --config leslie.kwaipilot.env --title "..."

ANTHROPIC_AUTH_TOKEN=Test
ANTHROPIC_BASE_URL=http://localhost:3000
ANTHROPIC_DEFAULT_HAIKU_MODEL=kwaipilot-default
ANTHROPIC_DEFAULT_OPUS_MODEL=kwaipilot-default
ANTHROPIC_DEFAULT_SONNET_MODEL=kwaipilot-default
ANTHROPIC_MODEL=kwaipilot-default
